@media only screen and (max-width:640px)
{
body
{
	background-color:red;
}
.outline
{
	border:5px solid black;
	border-radius:5px;
	margin:50px 20px 50px 20px;
	text-align:center;
}
.fields
{
	background-color:blue;
	color:white;
	font-weight:bold;
	border:2px solid purple;
	font-family: sans-serif;
}
.checkbox
{
	padding:10px 100px;
	margin: 2px;
}
.appForm
{
	text-align:center;
	margin-top:50px;
	border:5px solid yellow;
	border-radius:3px;
	background-color:yellow;
	font-family: courier, monospace;
}
.personalInfo
{
	text-align:center;
}
.btns
{
	display:inline-block;
}
#tableBtn
{
	margin-right:20px;
	padding:15px 40px;
	font-weight:bold;
    border:2px solid black;
	border-radius:4px;
}
#btn2
{
	padding:15px 40px;
	border:2px solid black;
	border-radius:4px;
	font-weight:bold;
}
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td 
{
    border: 1px solid #000;
}

th, td 
{
    padding: 10px;
    text-align: center;
}

#appTable {
    max-width: 1000px ;
}
#appsTable
{
	text-align:left;
}
}